name: License Finder

on:
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  license_finder:
    name: Audit 3rd-Party Licenses
    runs-on: ubuntu-latest
    container: ghcr.io/viamrobotics/rdk-devenv:amd64
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Run license finder
        run: |
          sudo -u testbot bash -lc 'license_finder'
